.post.on-list{
    width: 500px;
}

@media (max-width: 499px){
    .post.on-list{
        width: 360px;
    }
}

.post-image{
    border-radius: 8px;
    box-shadow: 0 0 20px 7px rgba(0,0,0,.15);
    margin: 50px auto;
    width: 100%;
}

.post-image-75{
    width: 75%;
}

.post-image-50{
    width: 50%;
}

.post-image-25{
    width: 25%;
}

.post-categories{
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(34, 34, 34);
    opacity: 0.5;
}

.post-categories a {
    text-decoration: none;
}

.post-tags {
    display: inline-block;
    margin-bottom: unset;
}
